body {
    background-color: $color-black-1;
    color: $color-accent-1;
}

.vc {
    min-height: 100vh;
    display: flex;
    justify-content: center; // horizontal
    align-items: center; // vertical
}

h1 {
    @include font-title;
    font-size: 60px;
}

.input-copy-wrapper {
    @include media( $bp-sm-up... ) {
        display: flex;
        justify-content: space-between;
        .left {
            flex: 1;
        }
        .right {
            margin-left: 0;
        }
    }
}

#visitor-ip {
    width: 100%;
    height: 80px;
    border: 0;
    background-color: $color-black-2;
    letter-spacing: 0.3rem;
    text-align: center;
    @include font-ip;
    font-size: 32px;
    color: $color-accent-1;
    @include media( $bp-sm-up... ) {
        font-size: 42px;
    }
    &::selection {
        background-color: $color-accent-2;
    }
}

.button-copy {
    height: 80px;
    padding: 0;
    border: 0;
    background-color: $color-accent-2;
    cursor: pointer;
    @include media( $bp-xs... ) {
        width: 100%;
    }
    @include media( $bp-sm-up... ) {
        width: 80px;
    }
    svg {
        height: 40px;
        color: $color-accent-1;
    }
}

