/* descriptive stacks */

@mixin font-bai-regular {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-style: normal;
}
@mixin font-coda-regular {
    font-family: 'Coda', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* functional stacks */

@mixin font-title {
    @include font-bai-regular;
}
@mixin font-ip {
    @include font-coda-regular;
}

